<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static_resources/element-plus-index.css" />
    <link rel="stylesheet" href="/static_resources/vxe-table-style.css">
    <script src="/static_resources/vue.global.js"></script>
    <script src="/static_resources/element-plus-index.full.js"></script>
    <script src="/static_resources/xe-utils.js"></script>
    <script src="/static_resources/vxe-table@4.6.25.js"></script>
    <script src="/static_resources/axios.min.js"></script>
    <script src="/static_resources/element-plus_icons-vue.js"></script>
    <script src="/static_resources/zh-cn.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_logosc/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_logosc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_logosc/favicon-16x16.png">
    <link rel="manifest" href="/favicon_logosc/site.webmanifest">
</head>
<body>
<div id="app">
    <div class="common-layout">
        <el-container>
            <el-header>
                <div class="header-container" style="display: flex; align-items: center; justify-content: start;">
                    <el-avatar :src="`../img/默认头像.png`"></el-avatar>
                    <h3 class="user-name">管理员</h3>
                </div>
            </el-header>
            <el-container hidden="1080px">
                <el-aside width="200px">
                    <el-menu
                            v-model:default-active="itemNumber"
                            class="el-menu-vertical-demo"
                    >
                        <el-menu-item index="1" @click="toUserManage">
                            <el-icon><document /></el-icon>
                            <span>用户管理</span>
                        </el-menu-item>
                        <el-menu-item index="2" @click="toMerchantManage">
                            <el-icon><document /></el-icon>
                            <span>商户管理</span>
                        </el-menu-item>
                        <el-menu-item index="3" @click="toProductManage">
                            <el-icon><document /></el-icon>
                            <span>商品管理</span>
                        </el-menu-item>
                        <el-menu-item index="4" @click="toOrderManage">
                            <el-icon><setting /></el-icon>
                            <span>订单管理</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main style="border-top: 1px solid rgb(227, 223, 223);border-left: 1px solid rgb(227, 223, 223);">
                <template v-if="!isDetail">
                    <el-row>
                        <el-form :inline="true" :model="form">
                            <el-form-item label="订单编号:"><el-input v-model="form.orderId" /></el-form-item>
                            <el-form-item label="订单状态">
                                <el-select v-model="form.orderStatus" placeholder="请选择" style="width: 240px">
                                    <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="商户名:"><el-input v-model="form.userCode" /></el-form-item>
                            <el-form-item ><el-button type="primary" @click="onSearch()">查询</el-button></el-form-item>
                            <el-form-item ><el-button  @click="onReset">重置</el-button></el-form-item>
                        </el-form>
                    </el-row>
                    <el-row>
                        <el-form-item label="用户账号:"><el-input v-model="form.merchantName" /></el-form-item>
                        <el-form-item label="  "></el-form-item>
                        <el-form-item label="创建时间:" >
                            <span class="demonstration"></span>
                            <el-date-picker
                                    v-model="form.time"
                                    type="daterange"
                                    range-separator="To"
                                    start-placeholder="Start date"
                                    end-placeholder="End date"
                                    :size="datePickerSize"
                            />
                        </el-form-item>
                        <el-form-item label="  "></el-form-item>
                        <el-form-item label="支付方式:" ><el-input v-model="form.payMethod" style="width: 240px" /></el-form-item>
                    </el-row>
                    <el-row style="height: 80vh;">
                        <vxe-grid v-bind="gridOptions" style="width: 100%" height="100%">
                            <template #toolbar >
                                <el-button type="warning" @click="onExport">导出</el-button>
                            </template>
                            <template #operate="{ row }">
                                <el-button size="small" @click="showDetailDialog(row)">详细</el-button>
                            </template>
                            <template #pager>
                                <vxe-pager :layouts="['Sizes', 'PrevPage', 'Number', 'NextPage', 'Total']" v-model:current-page="page.current" v-model:page-size="page.size" :total="page.total" @page-change="onPageChange">
                                </vxe-pager>
                            </template>
                        </vxe-grid>
                    </el-row>
                </template>
                    <template v-if="isDetail">
                        <el-button  text="plain" @click=" isDetail = false"> < 返回</el-button>
                        <vxe-grid v-bind="OrderOptions" style="width: 100%" >
                            <template #toolbar >
                                <h3>📕基本信息</h3>
                            </template>
                        </vxe-grid>
                    </template>
                </el-main>
            </el-container>
        </el-container>
    </div>
</div>


</body>
<script>
    const app =Vue.createApp({
        data(){
            return {
                datePickerSize:'large',
                itemNumber: '4',
                orderStatusMap: [],
                isDetail: false,
                form: {
                    orderId: '',
                    orderStatus: '',
                    merchantName: '',
                    userCode: '',
                    time: [],
                    payMethod: ''
                },
                options: [
                    {
                        value: null,
                        label: "无"
                    }, {
                        value: 1,
                        label: '待付款'
                    }, {
                        value: 2,
                        label: '待发货'
                    }, {
                        value: 3,
                        label: '待收货'
                    }, {
                        value: 4,
                        label: '已完成'
                    }, {
                        value: 5,
                        label: '已取消'
                    }, {
                        value: 6,
                        label: '交易完成'
                    }, {
                        value: 7,
                        label: '交易关闭'
                    }, {
                        value: 8,
                        label: '未开始'
                    }
                ],
                gridOptions: {
                    border: true,
                    height: 400,
                    data: [],
                    headerAlign: 'center',
                    align: 'center',
                    columns: [
                        {type: 'seq', width: 50},
                        {field: 'orderId', title: '订单编号'},
                        {field: 'createTime', title: '创建时间'},
                        {field: 'merchantName', title: '商户名'},
                        {field: 'userCode', title: '用户账号'},
                        {field: 'orderAmount', title: '订单金额'},
                        {field: 'payMethod', title: '支付方式'},
                        {
                            field: 'orderStatus', title: '订单状态', formatter: ({cellValue}) => {
                                return this.orderStatusMap[cellValue] || `未知等级(${cellValue})`;
                            }
                        },
                        {title: '操作', slots: {default: 'operate'}, width: 220}
                    ],
                    toolbarConfig: {
                        custom: true,
                        slots: {buttons: 'toolbar_buttons'}
                    },
                    addressOptions: {
                        border: true,
                        height: 400,
                        data: [],
                        headerAlign: 'center',
                        align: 'center',
                        columns: [
                            {type: 'seq', width: 60},
                            {field: 'receiver', title: '名称'},
                            {field: 'telephone', title: '电话'},
                            {field: 'zipCode', title: '邮政编码'},
                            {field: 'detailAddress', title: '收货地址'},
                        ],
                        toolbarConfig: {
                            custom: true,
                            slots: {buttons: 'toolbar_buttons'}
                        },
                    },
                    OrderOptions: {
                        border: true,
                        height: 400,
                        data: [],
                        headerAlign: 'center',
                        align: 'center',
                        columns: [
                            {field: 'orderId', title: '商品订单编号'},
                            {field: 'orderAmount', title: '订单金额'},
                            {field: 'userCode', title: '用户账号'},
                            {field: 'payMethod', title: '支付方式'},
                            {field: 'tradeNo', title: '交易流水号'},
                            {field: 'logisticsCompany', title: '物流公司'},
                            {field: 'logisticsNo', title: '物流单号'},
                        ],
                        toolbarConfig: {
                            custom: true,
                            slots: {buttons: 'toolbar_buttons'}
                        },
                    },
                        OrderItemOptions: {
                            border: true,
                            height: 400,
                            data: [],
                            headerAlign: 'center',
                            align: 'center',
                            columns: [
                                {type: 'seq', width: 50},
                                {field: 'orderId', title: '订单编号'},
                                {field: 'createTime', title: '创建时间'},
                                {field: 'merchantName', title: '商户名'},
                                {field: 'userCode', title: '用户账号'},
                                {field: 'orderAmount', title: '订单金额'},
                                {field: 'payMethod', title: '支付方式'},
                                {
                                    field: 'orderStatus', title: '订单状态', formatter: ({cellValue}) => {
                                        return this.orderStatusMap[cellValue] || `未知等级(${cellValue})`;
                                    }
                                },
                                {title: '操作', slots: {default: 'operate'}, width: 220}
                            ],
                            toolbarConfig: {
                                custom: true,
                                slots: {buttons: 'toolbar_buttons'}
                            }
                        }
                    },
                    page: {
                        current: 1,
                        size: 20,
                        total: 0
                    },
                }
            },
        async created(){
            this.init();
            this.getList();
        },
        methods:{
            toUserManage(){
                window.location.href = 'http://localhost:8080/userAdmin';
            },
            toMerchantManage(){
                window.location.href = 'http://localhost:8080/merchantAdmin';
            },
            toProductManage(){
                window.location.href = 'http://localhost:8080/productAdmin';
            },
            toOrderManage(){
                window.location.href = 'http://localhost:8080/orderAdmin';
            }
            init(){
                this.orderStatusMap = Object.fromEntries(
                    this.options.map(option => [option.value, option.label])
                );
            },
            async getList() {
                console.log(this.form.createTime)
                const form = this.form;
                const response = await axios.post("/order/getList", {
                    orderId: form.orderId,
                    orderStatus: form.orderStatus,
                    merchantName: form.merchantName,
                    userCode: form.userCode,
                    time: form.time,
                    payMethod: form.payMethod,
                    createTime: form.createTime,
                    current: this.page.current,
                    size: this.page.size
                });
                this.gridOptions.data = response.data.records;
                this.page.current = response.data.current;
                this.page.size = response.data.size;
                this.page.total = response.data.total;
                console.log(this.gridOptions.data);
            },
            onSearch(){
                this.getList();
            },
            onPageChange() {
                this.getList();
            },
            onReset(){
                this.form.orderId = '';
                this.form.merchantName = '';
                this.form.time =[];
                this.form = '';
                this.form.payMethod = '';
                this.form.orderStatus = '';
                this.getList();
            },
            async onExport() {
                const form = this.form;
                window.location.href = `/order/export?orderId=${this.form.orderId}&orderStatus=${this.form.orderStatus}
                &merchantName=${this.form.merchantName}&userCode=${this.form.userCode}&time=${this.form.time}&payMethod=${this.form.payMethod}&current=${this.page.current}&size=${this.page.size}`;
            },
            showDetailDialog(row){
                this.isDetail = true;
                this.OrderOptions = {
                    ...this.OrderOptions,
                    data: row.records
                }
                // this.OrderOptions.data.orderId = row.data.orderId;
                // this.OrderOptions.data.orderAmount = row.data.orderAmount;
                // this.OrderOptions.data.userCode = row.data.userCode;
                // this.OrderOptions.data.payMethod = row.data.payMethod;
                // this.OrderOptions.data.tradeNo = row.data.tradeNo;
                // this.OrderOptions.data.logisticsCompany = row.data.logisticsCompany;
                // this.OrderOptions.data.logisticsNo = row.data.logisticsNo;
                this.getUserAddress(row.addressId);
            },
            getUserAddress(id){
                axios.post('/address/getAddress',
                    {addressId: id}
                ).then(response => {
                    try{
                        this.addressOptions.data = response.data.records;
                    }catch(error){
                        console.log(error);
                    }
                });
            }
        }
    });
    for(const[key, component] of Object.entries(ElementPlusIconsVue)) {app.component(key, component)}
    app.use(ElementPlus,{
        locale: ElementPlusLocaleZhCn,
    }).use(VxeUITable).mount('#app');
</script>


</html>