<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static_resources/element-plus-index.css" />
    <link rel="stylesheet" href="/static_resources/vxe-table-style.css">
    <script src="/static_resources/vue.global.js"></script>
    <script src="/static_resources/element-plus-index.full.js"></script>
    <script src="/static_resources/xe-utils.js"></script>
    <script src="/static_resources/vxe-table@4.6.25.js"></script>
    <script src="/static_resources/axios.min.js"></script>
    <script src="/static_resources/element-plus_icons-vue.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_logosc/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_logosc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_logosc/favicon-16x16.png">
    <link rel="manifest" href="/favicon_logosc/site.webmanifest">
</head>
<body>
<div id="app">
    <el-row>
        <el-form :inline="true" :model="form">
            <el-form-item label="用户账号:"><el-input v-model="form.code" /></el-form-item>
            <el-form-item label="用户名:"><el-input v-model="form.name" /></el-form-item>
            <el-form-item label="注册时间:">
                <el-date-picker
                    v-model="form.createTime"
                    type="date"
                    placeholder="请选择时间"
                    :size="size"
            /></el-form-item>
            <el-form-item ><el-button type="primary" @click="onSearch()">查询</el-button></el-form-item>
            <el-form-item ><el-button  @click="onReset">重置</el-button></el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <vxe-grid v-bind="gridOptions" style="width: 100%">
            <template #toolbar buttons><el-button type="primary" @click="add">新增</el-button>
                <el-button type="warning" @click="onExport">导出</el-button>
            </template>
            <template #valid="{ row }">
                <el-switch v-model="row.valid" :active-value="1" :inactive-value="0" disabled />
            </template>
            <template #avatar="{ row }">
                <el-image v-if="row.avatar" style="width: 80px; height: 80px" :src="`/MFile/download?id=${row.avatar}`" fit="fill" />
            </template>
            <template #operate="{ row }">
                <el-button size="small" type="primary" @click="edit(row)">编辑</el-button>
                <el-button size="small" type="danger" @click="onRemove(row.id)">删除</el-button>
            </template>
            <template #pager>
                <vxe-pager :layouts="['Sizes', 'PrevPage', 'Number', 'NextPage', 'Total']" v-model:current-page="page.current" v-model:page-size="page.size" :total="page.total" @page-change="onPageChange">
                </vxe-pager>
            </template>
        </vxe-grid>
    </el-row>
    <el-dialog v-model="showDialog" :title="isEdit ? '编辑' : '新增'" width="400">
        <el-form ref="editForm" :model="editForm" :rules="rules" label-width="auto">
            <template>
                <el-radio-group v-model="radio">
                    <el-radio
                            v-for="option in levels"
                            :key="option.value"
                            :value="option.value"
                    >
                        {{ option.label }}
                    </el-radio>
                </el-radio-group>
            </template>
        </el-form>
        <template #footer>
            <el-button @click="showDialog = false">取消</el-button>
            <el-button type="primary"  @click="onSubmit">确定</el-button>
        </template>
    </el-dialog>

</div>

</body>
<script>

    const app = Vue.createApp({
        data(){
            return {
                levels:[]
                ,
                form: {
                    code: '',
                    name: '',
                    createTime: ''
                },
                gridOptions: {
                    border: true,
                    height: 400,
                    data: [],
                    headerAlign: 'center',
                    align: 'center',
                    columns: [
                        {type: 'seq', width: 60},
                        {field: 'code', title: '账号'},
                        {field: 'name', title: '名称'},
                        {field: 'mobile', title: '手机'},
                        {field: 'level', title: '会员等级'},
                        {field: 'creatTime', title: '创建时间'},
                        {field: 'valid', title: '有效', slots: {default: 'valid'}, width: 80} ,
                        {field: 'avatar', title: '头像', slots: {default: 'avatar'}, width: 110},
                        {title: '操作', slots: {default: 'operate'}, width: 220}
                    ],
                    toolbarConfig: {
                        custom: true,
                        slots: {buttons: 'toolbar_buttons'}
                    },
                },
                page: {
                    current: 1,
                    size: 20,
                    total: 0
                },


            }
        },
        methods: {
            async init() {

            }
            ,
            onSearch(){
                this.getList();
            },
            async getList(){
                const form = this.form;
                const response = await axios.post("/user/getList",{ code: form.code, name: form.name, createTime: form.createTime, current: this.page.current, size: this.page.size});
                this.gridOptions.data= response.data.records;
                this.page.current= response.data.current;
                this.page.size= response.data.size;
                this.page.total= response.data.total;
                console.log(this.gridOptions.data);
            },
            onReset(){
                this.getList();
            },
            onExport(){

            }

        }

    }).use(ElementPlus).use(VxeUITable).mount('#app');
</script>
</html>