<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static_resources/element-plus-index.css" />
    <link rel="stylesheet" href="/static_resources/vxe-table-style.css">
    <script src="/static_resources/vue.global.js"></script>
    <script src="/static_resources/element-plus-index.full.js"></script>
    <script src="/static_resources/xe-utils.js"></script>
    <script src="/static_resources/vxe-table@4.6.25.js"></script>
    <script src="/static_resources/axios.min.js"></script>
    <script src="/static_resources/element-plus_icons-vue.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_logosc/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_logosc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_logosc/favicon-16x16.png">
    <link rel="manifest" href="/favicon_logosc/site.webmanifest">
</head>
<body>
<div id="app">
    <el-row>
        <el-form :inline="true" :model="form">
            <el-form-item label="用户账号:"><el-input v-model="form.code" /></el-form-item>
            <el-form-item label="用户名:"><el-input v-model="form.name" /></el-form-item>
            <el-form-item label="注册时间">
                <el-date-picker
                    v-model="form.createTime"
                    type="date"
                    placeholder="Pick a day"
                    :size="size"
            /></el-form-item>
            <el-form-item ><el-button type="primary" @click="onSearch">查询</el-button></el-form-item>
        </el-form>
    </el-row>

</div>

</body>
<script>
    import axios from "./static_resources/vxe-table@4.6.25";

    const app = new Vue({
        create(){
            return {
                form: {
                    code: '',
                    name: '',
                    createTime: '',
                    current: '',
                    size: '',
                    total: '',
                }
            }
        },
        methods: {
            onSearch(){
                this.getList();
            },
            async getList(){

            }

        }

    }).use(ElementPlus).use(VxeUITable).mount('#app');
</script>
</html>