<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static_resources/element-plus-index.css" />
    <link rel="stylesheet" href="/static_resources/vxe-table-style.css">
    <script src="/static_resources/vue.global.js"></script>
    <script src="/static_resources/element-plus-index.full.js"></script>
    <script src="/static_resources/xe-utils.js"></script>
    <script src="/static_resources/vxe-table@4.6.25.js"></script>
    <script src="/static_resources/axios.min.js"></script>
    <script src="/static_resources/element-plus_icons-vue.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_logosc/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_logosc/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_logosc/favicon-16x16.png">
    <link rel="manifest" href="/favicon_logosc/site.webmanifest">
</head>
<body>
<div id="app" >
    <template v-if=!isDetail>
    <el-row>
        <el-form :inline="true" :model="form">
            <el-form-item label="用户账号:"><el-input v-model="form.code" /></el-form-item>
            <el-form-item label="用户名:"><el-input v-model="form.name" /></el-form-item>
            <el-form-item label="注册时间:">
                <el-date-picker
                    v-model="form.createTime"
                    type="date"
                    placeholder="请选择时间"
                    :size="size"
            /></el-form-item>
            <el-form-item ><el-button type="primary" @click="onSearch()">查询</el-button></el-form-item>
            <el-form-item ><el-button  @click="onReset">重置</el-button></el-form-item>
        </el-form>
    </el-row>
    <el-row>
        <vxe-grid v-bind="gridOptions" style="width: 100%">
            <template #toolbar buttons><el-button type="primary" @click="add">新增</el-button>
                <el-button type="warning" @click="onExport">导出</el-button>
            </template>
            <template #valid="{ row }">
                <el-switch v-model="row.valid" :active-value=true :inactive-value=false disabled />
            </template>
            <template #avatar="{ row }">
                <el-image v-if="row.avatar" style="width: 80px; height: 80px" :src="`/MFile/download?id=${row.avatar}`" fit="fill" />
            </template>
            <template #operate="{ row }">
                <el-button size="small" type="primary" @click="edit(row)">编辑</el-button>
                <el-button size="small" type="danger" @click="onRemove(row.id)">删除</el-button>
                <el-button size="small" @click="showDetailDialog(row)">详细</el-button>

            </template>
            <template #pager>
                <vxe-pager :layouts="['Sizes', 'PrevPage', 'Number', 'NextPage', 'Total']" v-model:current-page="page.current" v-model:page-size="page.size" :total="page.total" @page-change="onPageChange">
                </vxe-pager>
            </template>
        </vxe-grid>
    </el-row>
    <el-dialog v-model="showDialog" :title="isEdit ? '编辑' : '新增'" width="400">
        <el-form ref="editForm" :model="editForm" :rules="rules" label-width="auto">
            <el-form-item label="头像" prop="avatar">
                <!--                    :http-request="uploadAvatar"-->
                <el-upload :show-MFile-list="false" :before-upload="uploadAvatar"  >
                    <img v-if="editForm.avatar" :src="`/MFile/download?id=${editForm.avatar}`" style="width: 100px; height: 100px" />
                    <el-icon v-else><Plus /></el-icon>
                </el-upload>
            </el-form-item>
            <el-form-item label="账号" prop="code">
                <el-input v-model="editForm.code" :disabled="isEdit" maxlength="20" />
            </el-form-item>
            <el-form-item label="名称" prop="name">
                <el-input v-model="editForm.name" maxlength="20" />
            </el-form-item>
            <el-form-item label="注册城市" prop="city">
                <el-input v-model="editForm.city" />
            </el-form-item>
            <el-form-item label="性别" prop="gender">
                <el-radio-group v-model="editForm.gender">
                    <el-radio :value="'男'">男</el-radio>
                    <el-radio :value="'女'">女</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="会员等级" prop="level">
                <el-radio-group v-model="editForm.levelName">
                    <template v-for="level in levels">
                <el-radio
                        :value= "level.levelName"
                >
                    {{ level.levelName }}
                </el-radio>
                    </template>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="创建时间" prop="createTime">
                <el-date-picker
                        v-model="editForm.createTime"
                        type="date"
                        placeholder="请选择时间"
                        :size="size"
                />
            </el-form-item>
            <el-form-item v-if="isEdit"  label="有效" prop="valid">
                <el-switch v-model="editForm.valid" :active-value=true :inactive-value=false />
            </el-form-item>
            <el-form-item  label="密码" prop="password">
                <el-input v-model="editForm.password" />
            </el-form-item>
        </el-form>
        <template #footer>
            <el-button @click="showDialog = false">取消</el-button>
            <el-button type="primary"  @click="onSubmit">确定</el-button>
        </template>
    </el-dialog>
    </template>
    <template v-else-if='isDetail'>
        <el-button text="plain" @click="isDetail = false"> < 返回</el-button>
        <el-descriptions
                title="用户详细"
                direction="vertical"
                border
                style="margin-top: 20px"
        >
            <el-descriptions-item
                    :rowspan="3"
                    :width="140"
                    label="Photo"
                    align="center"
            >
                <el-upload :show-MFile-list="false" :before-upload="uploadAvatar"  >
                    <img v-if="detailForm.avatar" :src="`/MFile/download?id=${detailForm.avatar}`" style="width: 100px; height: 100px" />
                    <el-icon v-else><Plus /></el-icon>
                </el-upload>
            </el-descriptions-item>
            <el-descriptions-item label="用户ID">{{detailForm.id}}</el-descriptions-item>
            <el-descriptions-item label="用户账号">{{detailForm.code}}</el-descriptions-item>
            <el-descriptions-item label="用户名">{{detailForm.code}}</el-descriptions-item>
            <el-descriptions-item label="注册时间">{{detailForm.createTime}}</el-descriptions-item>
            <el-descriptions-item label="性别">{{detailForm.gender}}</el-descriptions-item>
            <el-descriptions-item label="城市">{{detailForm.city}}</el-descriptions-item>
        </el-descriptions>
    </template>

</div>

</body>
<script>
    const app = Vue.createApp({
        data(){
            return {
                levels:[],
                fullTableData: [],
                form: {
                    code: '',
                    name: '',
                    createTime: ''
                },
                gridOptions: {
                    border: true,
                    height: 400,
                    data: [],
                    headerAlign: 'center',
                    align: 'center',
                    columns: [
                        {type: 'seq', width: 60},
                        {field: 'code', title: '账号'},
                        {field: 'name', title: '名称'},
                        {field: 'city', title: '注册城市'},
                        {field: 'gender', title: '性别'},
                        {field: 'levelName', title: '会员等级'},
                        {field: 'createTime', title: '创建时间'},
                        {field: 'valid', title: '有效', slots: {default: 'valid'}, width: 80} ,
                        {field: 'avatar', title: '头像', slots: {default: 'avatar'}, width: 110},
                        {title: '操作', slots: {default: 'operate'}, width: 220}
                    ],
                    toolbarConfig: {
                        custom: true,
                        slots: {buttons: 'toolbar_buttons'}
                    },
                },
                page: {
                    current: 1,
                    size: 20,
                    total: 0
                },
                isEdit: false,
                showDialog: false,
                isDetail: false,
                editForm: {
                    id: '',
                    code: '',
                    name: '',
                    city: '',
                    gender: '',
                    levelName: '',
                    createTime: '',
                    valid: true,
                    avatar: '',
                    password: ''
                },
                detailForm: {
                    id: '',
                    code: '',
                    name: '',
                    city: '',
                    gender: '',
                    createTime: '',
                    avatar: ''
                },
                rules: {
                    code: [{required: true, message: '请输入账号'}],
                    name: [{required: true, message: '请输入名称'}],
                    password: [{required: true, message: '请输入密码'},
                        {
                            validator(rule, value, callback) {
                                if (value) {
                                    if (/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z\W]{6,18}$/.test(value)) {
                                        callback();
                                    } else {
                                        callback(new Error('请输入包含英文和数字，在6-18位之间'))
                                    }
                                } else {
                                    callback();
                                }
                            },
                            trigger: 'blur'
                        }
                    ],
                },
            }
        },
        async created(){
           await this.init();
           await this.getList();
        },
        methods: {
            async init() {
                const response = await axios.post('/user/init');
                this.levels = response.data;
                console.log(this.levels);
            },
            onSearch(){
                this.getList();
            },
            onPageChange() {
                this.getList();
            },
            async getList(){
                const form = this.form;
                const response = await axios.post("/user/getList",{ code: form.code, name: form.name, createTime: form.createTime, current: this.page.current, size: this.page.size});
                this.gridOptions.data= response.data.records;
                this.page.current= response.data.current;
                this.page.size= response.data.size;
                this.page.total= response.data.total;
                console.log(this.gridOptions.data);
            },
            onReset(){
                this.form.code = '';
                this.form.name = '';
                this.form.createTime = '';
                this.getList();
            },
            async onRemove(id) {
                await axios.post('/user/remove', {id});
                await this.getList();
            },
            async onExport(){
                const form = this.form;
                await axios.post("/user/export",{ code: form.code, name: form.name, createTime: form.createTime, current: this.page.current, size: this.page.size});
                debugger;
                await this.getList();
            },
            add(){
                this.showDialog= true;
                this.editForm= {};
            },
            async uploadAvatar(f) {
                try {
                    // const { file } = options;  // 从参数中获取文件对象
                    // const formData = new FormData();
                    // formData.append('MFile', file);  // 使用标准字段名

                    const response = await axios.post('/MFile/upload', { MFile: f}, {
                        headers: { 'Content-Type': 'multipart/form-data' }
                    });
                    this.editForm.avatar = response.data.id;
                    return false;
                } catch (error) {
                    console.error('上传失败', error);
                    // 添加错误提示
                }
            },
            onSubmit(){
                this.$refs.editForm.validate(async valid =>{
                        if(valid) {
                            debugger;
                            await axios.post(this.isEdit? '/user/edit': '/user/add', this.editForm);
                            await this.getList();
                            this.showDialog= false;
                        }
                    }
                );
            },
            edit(user) {
                this.showDialog= true;
                this.isEdit= true;
                this.editForm= {...user};
            },
            showDetailDialog(user){
                this.isDetail=true;
                this.detailForm.id =user.id ;
                this.detailForm.code = user.code;
                this.detailForm.name = user.name;
                this.detailForm.city = user.city;
                this.detailForm.gender = user.gender;
                this.detailForm.createTime = user.createTime;
                this.detailForm.avatar = user.avatar;
            }
        }

    }).use(ElementPlus).use(VxeUITable).mount('#app');
   </script>
</html>