<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gok.food_map.shoppingCart.mapper.ShoppingCartMapper">
    <resultMap id="shoppingCardResultMap" type="com.gok.food_map.shoppingCart.vo.ShoppingCartGetVO">
        <id property="cartId" column="cart_id"/>
        <result property="userId" column="user_id"/>
        <result property="spuId" column="spu_id" />
        <result property="quantity" column="quantity" />
        <result property="specsPrice" column="specs_price"
                typeHandler="com.gok.food_map.definetypehandler.JsonbTypeHandler"/>
        <result property="isSelected" column="is_selected" />
        <result property="updateTime" column="update_time"/>
        <result property="mainImage" column="main_image" />
        <result property="spuName" column="spu_name" />
        <result property="totalPrice" column="total_price" />
    </resultMap>
    <select id="selectByUserId" resultMap="shoppingCardResultMap">
        select
            sc.cart_id as cart_id,
            sc.user_id as user_id,
            sc.spu_id as spu_id,
            sc.quantity as quantity,
            sc.specs_price as specs_price,
            sc.is_selected as is_selected,
            sc.update_time as update_time,
            sp.main_image as main_image,
            sp.spu_name as spu_name,
            sc.total_price as total_price
        from
            shopping_cart sc
        join product_spu sp
        on sp.spu_id = sc.spu_id
        where
            user_id = #{userId}::bigint
    </select>
</mapper>
