<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gok.food_map.user.mapper.MAddressMapper">

    <resultMap id="BaseResultMap" type="com.gok.food_map.user.entity.MAddress">
            <id property="addressId" column="address_id" />
            <result property="userId" column="user_id" />
            <result property="receiver" column="receiver" />
            <result property="telephone" column="telephone" />
            <result property="detailAddress" column="detail_address" />
            <result property="zipCode" column="zip_code" />
            <result property="isDefault" column="is_default" />
    </resultMap>

    <sql id="Base_Column_List">
        address_id,user_id,receiver,telephone,detail_address,zip_code,
        is_default
    </sql>
</mapper>
